/* CSS pour le style de la page du projet WebAgency
 *
 * Auteur: mthdht
 *
 */

/* import the roboto fonts */
@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

/* ----------------- QUELQUES CLASSE UTILITAIRE ----------------- */

/* met les element en ligne */
.ligne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* creer un conteneur qui aura une taille max differente selon les support */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ----------------- FIN QUELQUES CLASSE UTILITAIRE ----------------- */





/* ---------- STYLE MOBILE et superieur ---------- */

/* fait en sorte que les taille des boites contienent les margin, padding et border */
body * {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: Roboto-Medium;
    width: 100%;
    height: 100%;
}

header {
    min-height: 380px;
}

.brand {
    margin: 15px 0;
}

/* STYLE FOR NAVIGATION */
.navigation-bar {
    justify-content: space-between;
}

.navigation-bar ul, .portfolio-navigation ul{
    list-style: none;
    margin: 0;
}

.navigation-bar ul {
    display: none;
}

.navigation-bar a {
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-size: .8rem;
    padding: 30px 20px;
    display: block;
    border-top: 3px solid white;
}

.navigation-bar a:hover {
    border-color: #5daacf;
}
/* END STYLE FOR NAVIGATION */


/* STYLE POUR CAROUSEL */
.carousel {
    position: relative;
}

.carousel input {
    display: none;
}

.carousel_img {
    position: absolute;
    width: 100%;
    z-index: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#premiere {
    display: none;
    background: url("../images/slider/bg2.jpg") center no-repeat;
    background-size: cover;
    min-height: 300px;
}

#deuxieme {
    background: url("../images/slider/bg1.jpg") center no-repeat;
    background-size: cover;
    min-height: 300px;
    max-height: 600px;
}

.contenu {
    color: #fff;
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
    font-size: medium;
}

.contenu p {
    font-size: small;
}

.contenu span {
    color: #5daacf;
}

.contenu button {
    margin-top: 5px;
    background-color: #5daacf;
    border: 0;
    border-bottom: 3px solid #4891b7;
    color: #fff;
    border-radius: 3px;
    font-family: Roboto-Black;
    cursor: pointer;
    padding: 10px 15px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 70px;
    z-index: 11;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    text-align: center;
    display: none;
}

.prev {
    left: -35px;
}

.next {
    right: -35px;
}

.prev span, .next span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next span {
    left: 25%;
}

.prev span {
    right: 25%;
}

.border-right, .border-left {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    height: 7px;
    width: 50%;
    background-color: #5DAACF;
}

.border-right {
    left: 50%;
}

/* permet de changer l'image quand on clique sur une fleche */
#image-1:checked ~ #premiere,
#image-2:checked ~ #deuxieme {
    z-index: 9;
    animation: apparition 1s ease-out;
}

/* animation de changement d'image */
@keyframes apparition {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

/* FIN STYLE POUR CAROUSEL */


/* STYLE DES SECTIONS */
.nos-services, .portfolio {
    padding-top: 30px;
}

h2 {
    color: rgba(0,0,0,.8);
    text-align: center;
    text-transform: uppercase;
}

.titre p {
    text-align: center;
    color: rgba(0,0,0,.6);
    font-size: small;
}

.separation {
    position: relative;
}

.separation .trait {
    width: 90px;
    height: 1px;
    background-color: #ccc;
    opacity: .6;
    margin:  20px auto;
}

.separation .cercle, .service-logo-border .cercle {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    top: -9px;
    right: 50%;
    transform: translateX(50%);
    color: #5daacf;
}


/* section services */
pc-image, .nos-services img {
    width: 100%;
}

.services {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.services-contenu {
    margin-top: 10px;
}

.service {
    display: flex;
    margin-bottom: 25px;
}

.service-logo {
    width: 60px;
    height: 50px;
    position: relative;
    color: #5daacf;
}

.service-logo-border {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    } }
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.service-logo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.service-logo .cercle {
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

h3 {
    font-size: medium;
    margin: 0 0 10px;
    color: rgba(0,0,0,.8);
}

.services-contenu p {
    margin: 0;
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}
/* fin style section services */

/* style section portfolio */
.portfolio {
    background-color: #f5f5f5;
}

.portfolio-navigation {
    background-color: #e4e4e4;
    margin: 40px auto;
    border-radius: 3px;
    color: rgba(0,0,0,.6);
}

.portfolio-navigation ul {
    padding: 0;
    text-align: center;
}

.portfolio-navigation li {
    display: flex;
    width: 25%;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.portfolio-navigation li:first-child.active {
    border-radius: 3px 0 0 3px;
}

.portfolio-navigation li i {
    display: none;
}

.portfolio-navigation li.active i {
    display: block;
    position: absolute;
    bottom: -20px;
    color: #4891b7;
}

.active {
    background-color: #5daacf;
    color: white;
    border-bottom: 3px solid #4891b7;
}

.portfolio-item {
    padding: 0 5px;
    position: relative;
    margin-bottom: 10px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item .info-portfolio {
    display: none;
    position: absolute;
    bottom: 4px;
    height: 40%;
    width: calc(100% - 10px);
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(97, 78, 26, .65);
}

.info-portfolio .see-more {
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #5daacf;
}

.portfolio-item:hover .info-portfolio {
    display: block;
    cursor: pointer;
}

.info-portfolio h3 {
    color: white;
}

/* fin style section portfolio */
/* FIN STYLE DES SECTIONS */




/* ---------- FIN STYLE MOBILE et superieur ---------- */



/* ---------- STYLE LARGE MOBILE et superieur ---------- */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    h1 {
        font-size: large;
    }

    .service-logo {
        width: 55px;
    }

    .portfolio-navigation {
        width: 70%;
    }

    .portfolio-item {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .portfolio-item .info-portfolio {
        width: calc(100% - 20px);
    }
}

/* ---------- FIN STYLE LARGE MOBILE et superieur ---------- */


/* ---------- STYLE TABLETTE et superieur ---------- */
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }

    /* fait apparaitre les liens */
    .navigation-bar ul {
        display: flex;
    }

    .carousel_img {

        justify-content: center;
    }

    #premiere {
        display: flex;
        background-size: cover;
        min-height: 350px;
    }

    header {
        min-height: 430px;
    }

    #deuxieme {
        background-size: cover;
        min-height: 350px;
    }

    .contenu {
        margin-top: 0;
    }

    h1 {
        font-size: x-large;
    }

    .contenu p {
        font-size: .85rem;
    }

    .prev, .next {
        display: block;
    }

    .titre p {
        width: 70%;
        margin: auto;
        line-height: 1.4;
    }

    .pc-image {
        width: 50%;
    }

    .services {
        width: 50%;
    }

    .service-logo {
        width: 60px;
    }

    .portfolio-navigation {
        width: 60%;
    }

    .portfolio-item {
        width: 33.33%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .portfolio-item .info-portfolio {
        width: calc(100% - 30px);
    }

    .portfolio-item:nth-child(7), .portfolio-item:nth-child(8) {
        width: 50%;
    }

}
/* ---------- FIN STYLE TABLETTE et superieur ---------- */




/* ---------- STYLE DESKTOP et superieur ---------- */
@media (min-width: 992px){
    .container {
        max-width: 992px;
    }

    header {
        min-height: 480px;
    }

    #premiere, #deuxieme {
        min-height: 400px;
    }

    .contenu br.break {
        display: none;
    }

    h1 {
        font-size: xx-large;
    }

    .titre p {
        font-size: .9rem;
        width: 50%;
    }

    .service-logo {
        width: 55px;
    }

    .portfolio-navigation {
        width: 50%;
    }

    .portfolio-item {
        width: 25%;
        padding: 0 15px;
    }

    .portfolio-item:nth-child(7), .portfolio-item:nth-child(8) {
        width: 25%;
    }

}
/* ---------- FIN STYLE DESKTOP et superieur ---------- */




/* ---------- STYLE DESKTOP et superieur ---------- */
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }

    header {
        min-height: 530px;
    }

    #premiere, #deuxieme {
        min-height: 450px;
    }

    .portfolio-navigation {
        width: 40%;
    }
}
/* ---------- FIN STYLE DESKTOP et superieur ---------- */
