/* CSS pour le style de la page du projet WebAgency
 *
 * Auteur: mthdht
 *
 */

/* import the roboto fonts */
@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

/* ----------------- QUELQUES CLASSE UTILITAIRE ----------------- */

/* met les element en ligne */
.ligne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* creer un conteneur qui aura une taille max differente selon les support */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* ----------------- FIN QUELQUES CLASSE UTILITAIRE ----------------- */





/* ---------- STYLE MOBILE et superieur ---------- */

/* fait en sorte que les taille des boites contienent les margin, padding et border */
body * {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: Roboto-Medium;
    width: 100%;
    height: 100%;
}

header {
    min-height: 380px;
    border-top: 1px solid white;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#small-links:target, .carousel_img, .services, .border-right, .border-left, pc-image, .nos-services img, .service-logo-border, .portfolio-item img, .contact-form input:not(.submit), textarea, .carte iframe, .voile-bleu {
    width: 100%;
}

.menu:hover, .contenu button, #small-links a, .active, .border-right, .border-left, .info-portfolio .see-more, .submit {
    background-color: #5daacf;
}

.menu:hover, .contenu, .contenu button, #small-links a, .active, .prev, .next, .portfolio-item .info-portfolio, .info-portfolio h3 {
    color: white;
}

.menu, .contenu span, .separation .cercle, .service-logo-border .cercle, .service-logo {
    color: #5daacf;
}

.navigation-bar ul, .carousel input, .prev, .next, #premiere, #small-links, .portfolio-navigation li i, .portfolio-item .info-portfolio {
    display: none;
}

.navigation-bar a.link, .portfolio-navigation li.active i, .portfolio-item:hover .info-portfolio, .contact-form input:not(.submit), textarea {
    display: block;
}

.carousel_img, .border-left, .border-right, .separation .cercle, .service-logo-border .cercle, .service-logo i, .portfolio-navigation li.active i, .portfolio-item .info-portfolio, .info-portfolio .see-more, .voile-bleu {
    position: absolute;
}

.carousel, .separation, .service-logo, .portfolio-navigation li, .portfolio-item, .contact, .carte {
    position: relative;
}

#small-links:target, .carousel_img, .services {
    display: flex;
    flex-direction: column;
}

.prev span, .next span, .prev, .next, .service-logo .cercle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu, .portfolio-navigation li, .info-portfolio .see-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    margin: 15px 0;
}

/* STYLE FOR NAVIGATION */

.fixed {
    position: fixed;
    top: 0px;
    z-index: 99;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.navigation-bar {
    justify-content: space-between;
}

.navigation-bar a.link {
    color: rgba(0, 0, 0, .6);
    font-size: 1rem;
    padding: 30px 20px;
    border-top: 3px solid white;
}

.navigation-bar a:hover {
    border-color: #5daacf;
}

.menu {
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #5daacf;
}

#small-links, .prev, .next, h2, .titre p, .separation .cercle, .service-logo-border .cercle, .portfolio-navigation ul {
    text-align: center;
}

#small-links a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: x-large;
    border-bottom: 2px solid #4891b7;
}

#small-links a:hover {
    background-color: #4891b7;
}
/* END STYLE FOR NAVIGATION */


/* STYLE POUR CAROUSEL */
.carousel {
    margin-top: 78px;
}

.carousel_img {
    z-index: 0;
    overflow-x: hidden;
}

#premiere {
    background: url("../images/slider/bg2.jpg") center no-repeat;
    background-size: cover;
    min-height: 300px;
}

#deuxieme {
    background: url("../images/slider/bg1.jpg") center no-repeat;
    background-size: cover;
    min-height: 300px;
    max-height: 600px;
}

.contenu {
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
    font-size: large;
}

.contenu p {
    font-size: small;
}

.contenu button {
    margin-top: 5px;
    border: 0;
    border-bottom: 3px solid #4891b7;
    border-radius: 3px;
    font-family: Roboto-Black;
    cursor: pointer;
    padding: 10px 15px;
}

.prev, .next {
    height: 70px;
    width: 70px;
    z-index: 11;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
}

.prev {
    left: -35px;
}

.next {
    right: -35px;
}

.next span {
    left: 25%;
}

.prev span {
    right: 25%;
}

.border-right, .border-left {
    z-index: 100;
    bottom: 0px;
    height: 7px;
}

.border-right {
    left: 50%;
}

/* permet de changer l'image quand on clique sur une fleche */
#image-1:checked ~ #premiere,
#image-2:checked ~ #deuxieme {
    z-index: 9;
    animation: apparition 1s ease-out;
}

/* animation de changement d'image */
@keyframes apparition {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

/* FIN STYLE POUR CAROUSEL */


/* STYLE DES SECTIONS */
.nos-services, .portfolio {
    padding-top: 30px;
}

h2 {
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    font-size: xx-large;
    margin-top: 0;
}

.titre p {
    color: rgba(0,0,0,.6);
    font-size: small;
}

.separation .trait {
    width: 90px;
    height: 1px;
    background-color: #ccc;
    opacity: .6;
    margin:  20px auto;
}

.separation .cercle, .service-logo-border .cercle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: -9px;
    right: 50%;
    transform: translateX(50%);
}


/* section services */

.services {
    justify-content: flex-end;
}

.services-contenu {
    margin-top: 10px;
}

.service {
    display: flex;
    margin-bottom: 25px;
}

.service-logo {
    width: 60px;
    height: 50px;
}

.service-logo-border {
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    } }
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.service-logo i {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h3 {
    font-size: medium;
    margin: 0 0 10px;
    color: rgba(0,0,0,.8);
}

.services-contenu p {
    margin: 0;
    font-size: .85rem;
    color: rgba(0,0,0,.6);
}
/* fin style section services */

/* style section portfolio */
.portfolio {
    background-color: #f5f5f5;
}

.portfolio-navigation {
    background-color: #e4e4e4;
    margin: 40px auto;
    border-radius: 3px;
    color: rgba(0,0,0,.6);
}

.portfolio-navigation ul {
    padding: 0;
}

.portfolio-navigation li {
    width: 25%;
    height: 40px;
    cursor: pointer;
}

.portfolio-navigation li:hover {
    background-color: #5daacf;
    border-bottom: 3px solid #4891b7;
    color: white;
}

.portfolio-navigation li:first-child.active {
    border-radius: 3px 0 0 3px;
}

.portfolio-navigation li.active i {
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    color: #4891b7;
}

.active {
    border-bottom: 3px solid #4891b7;
}

.portfolio-item {
    padding: 0 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.portfolio-item .info-portfolio {
    bottom: 4px;
    height: 40%;
    width: calc(100% - 10px);
    padding: 5px 10px;
    background-color: rgba(97, 78, 26, .65);
}

.info-portfolio .see-more {
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border: 2px solid white;
    border-radius: 50%;
}

.info-portfolio p {
    margin-top: 0;
}
.portfolio-item:hover .info-portfolio {
    cursor: pointer;
    -webkit-animation:open 1s ease;
    -moz-animation:open 1s ease;
    animation:open 1s ease;
}

@-moz-keyframes open {
    from {
        height: 0;
    }
    to {
        height: 40%;
    }
}
@-webkit-keyframes open {
    from {
        height: 0;
    }
    to {
        height: 40%;
    }
}
@keyframes open {
    from {
        height: 0;
    }
    to {
        height: 40%;
    }
}
/* fin style section portfolio */

/* style carte et contact */

.contact-form {
    background-color: rgba(255,255,255,.7);
    padding: 20px;
}

.contact-form h2 {
    text-align: left;
    margin: 0px 0px 10px;
    text-transform: none;
    font-size: x-large;
}

.contact-form p {
    margin: 3px;
}

.contact-form .name {
    font-family: Roboto-Black;
}

.contact-form p {
    color: rgba(0,0,0,.6);
    font-size: .85rem;
}

.contact-form input:not(.submit), textarea {
    padding: 8px;
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid lightgray;
    color: rgba(0,0,0,.7);
    font-family: Roboto-Bold;

}

::placeholder {
    font-size: .85rem;
}

.submit {
    border: 0;
    border-bottom: 3px solid #4891b7;
    color: #fff;
    border-radius: 3px;
    font-family: Roboto-Black;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 15px;
}

.voile-bleu {
    pointer-events: none;
    top:0;
    height: 100%;
    background-color: rgba(0,120,200,.3);
}
/* fin style carte et contact */

/* FIN STYLE DES SECTIONS */




/* ---------- FIN STYLE MOBILE et superieur ---------- */



/* ---------- STYLE LARGE MOBILE et superieur ---------- */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    h1 {
        font-size: large;
    }

    .service-logo {
        width: 55px;
    }

    .portfolio-navigation {
        width: 70%;
    }

    .portfolio-item {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .portfolio-item .info-portfolio {
        width: calc(100% - 20px);
    }
}

/* ---------- FIN STYLE LARGE MOBILE et superieur ---------- */


/* ---------- STYLE TABLETTE et superieur ---------- */
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }

    /* fait apparaitre les liens */
    .navigation-bar ul {
        display: flex;
    }

    .menu {
        display: none;
    }

    .carousel_img {

        justify-content: center;
    }

    #premiere {
        display: flex;
        background-size: cover;
        min-height: 350px;
    }

    header {
        min-height: 430px;
    }

    #deuxieme {
        background-size: cover;
        min-height: 350px;
    }

    .contenu {
        margin-top: 0;
    }

    h1 {
        font-size: x-large;
    }

    .contenu p {
        font-size: .85rem;
    }

    .prev, .next {
        display: block;
    }

    .border-right, .border-left {
        width: 50%;
    }

    .titre p {
        width: 70%;
        margin: auto;
        line-height: 1.4;
    }

    .pc-image {
        width: 50%;
    }

    .services {
        width: 50%;
    }

    .service-logo {
        width: 60px;
    }

    .portfolio-navigation {
        width: 60%;
    }

    .portfolio-item {
        width: 33.33%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .portfolio-item .info-portfolio {
        width: calc(100% - 30px);
    }

    .portfolio-item:nth-child(7), .portfolio-item:nth-child(8) {
        width: 50%;
    }

    .contact-form {
        background-color: rgba(255,255,255,.7);
        position: absolute;
        z-index: 9;
        right: 5%;
        width: 350px;
        top: 50%;
        transform: translateY(-50%);
    }

}
/* ---------- FIN STYLE TABLETTE et superieur ---------- */




/* ---------- STYLE DESKTOP et superieur ---------- */
@media (min-width: 992px){
    .container {
        max-width: 992px;
    }

    header {
        min-height: 480px;
    }

    #premiere, #deuxieme {
        min-height: 400px;
    }

    .contenu br.break {
        display: none;
    }

    h1 {
        font-size: xx-large;
    }

    .titre p {
        font-size: .9rem;
        width: 50%;
    }

    .service-logo {
        width: 55px;
    }

    .portfolio-navigation {
        width: 50%;
    }

    .portfolio-item {
        width: 25%;
        padding: 0 15px;
    }

    .portfolio-item:nth-child(7), .portfolio-item:nth-child(8) {
        width: 25%;
    }

    .contact-form {
        right: 10%;
    }

}
/* ---------- FIN STYLE DESKTOP et superieur ---------- */




/* ---------- STYLE DESKTOP et superieur ---------- */
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }

    header {
        min-height: 530px;
    }

    #premiere, #deuxieme {
        min-height: 450px;
    }

    .portfolio-navigation {
        width: 40%;
    }
}
/* ---------- FIN STYLE DESKTOP et superieur ---------- */
